body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#createProject {
    float: right;
}
#projectsAction {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 1%;
}
.datepicker {
    z-index: 10000;
}
.hideAdd {
    display: none;

}
.margin {
    margin-left: 5%;
    margin-right: 5%;
}
.addTermBtn :hover {
    color: green;
    cursor:pointer ;
}
.removeTermBtn :hover {
    color: red;
    cursor:pointer;
}
.pointer:hover {
    cursor:pointer;
}
.margin {
    margin-bottom: 1%;
}
#logo {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
   
}
#gsLink {
    margin-bottom: 4%;
}
#loginModalContent {
    width: 80%;
}
#logoImg {
    width: 4em;
}
.fontSize {
    font-size: 12px;
}
#searchForm {
    margin-left: 15px;
}
#searchTmForm {
     margin-left: 15px;
}
.textAlign {
    text-align: left!important;
}
a {
    cursor: pointer !important;
}
.navbar-brand {
    font-size: 1.5vh;
}
#dropzoneForm {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.concordanceSearchContainer{
    padding-left:0px !important;
}
.penaltyAlign{
    text-align:center;
}