@model GroupShareKitSample.Models.KitConcept
<div class="col-md-6">
    <h4> Details</h4>
   @foreach (var language in Model.Languages)
   {
       foreach (var term in language.Terms)
       {
           <p>Language: @language.Language.Name</p>
           <p>Term: @term.Text</p>
           if (term.Attributes != null)
           {
               foreach (var attribute in term.Attributes)
               {

                   <p>@attribute.Name:</p>
                   foreach (var val in attribute.Value)
                   {
                       <p>@val.Value</p>
  
                   }
  
               }
           }
       }
 }

</div>
