@model GroupShareKitSample.Models.TranslationMemoryViewModel

<div class="col-md-12 col-sm-12">
    <h4>Search results</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Source text</th>
                <th>Target text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SearchResult)
            {
                <tr>
                    <td>@item.SourceText</td>
                    <td>@item.TargetText</td>
                </tr>
            }
        </tbody>
    </table>
</div>

