@model GroupShareKitSample.Models.TranslationMemoryViewModel
<div class="row">
    <div class="col-md-12">
        <h4 class="textAlign">Search translation unit as plain text</h4>
    </div>
  
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <form id="searchTmForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Source language code:</label>
                    <input type="text" placeholder="Language code" class="form-control col-md-10 col-sm-10" id="sourceCode" required/>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Target language code :</label>
                    <input type="text" placeholder="language code" class="form-control col-md-10 col-sm-10" id="targetCode" required/>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Source term:</label>
                    <input type="text" placeholder="Searched term" class="form-control col-md-10 col-sm-10" id="sourceSearchedUnit" />
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Target term:</label>
                    <input type="text" placeholder="Searched term" class="form-control col-md-10 col-sm-10" id="targetSearchedUnit"  />
                </div>
                <div class="form-group">
                    <label for="tmSelect" class="col-md-2 col-sm-2 control-label textAlign">TranslationMemory:</label>
                    <select class="form-control" name="tmselect" id="tmSelect">
                        @foreach (var tm in Model.TranslationMemories)
                        {
                            <option value="@tm.Id">@tm.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="searchTerm()"> <i class="fa fa-search"></i> Search term</button>

                </div>
            </div>
        </form>
    </div>

</div>
<div class="row">
    <div id="tmSearch"></div>
    <div id="loading" class="hideAdd"> <img src="~/Content/Images/ripple.svg"/></div>
</div>
@section scripts{
    <script type="text/javascript">
        document.getElementById('searchTmForm').onsubmit = function (e) {
            e.preventDefault();
        }

        function searchTerm() {
            $('#tmSearch').empty();
            document.getElementById('loading').style.display = 'initial';
            var sourceCode = $('#sourceCode').val();
            var targetCode = $('#targetCode').val();
            var tmSelect = document.getElementById('tmSelect');
            var tmId = tmSelect[tmSelect.selectedIndex].value;
            var sourceSearchedUnit = $('#sourceSearchedUnit').val();
            var targetSearchedUnit = $('#targetSearchedUnit').val();
            $.ajax({
                url: '@Url.Action("SearchTerm")',
                cache: false,
                data: { 'sourceSearchedUnit': sourceSearchedUnit, 'targetSearchedUnit': targetSearchedUnit, 'tmId': tmId, 'sourceCode': sourceCode, 'targetCode': targetCode },
                success: function (response) {
                    document.getElementById('loading').style.display = 'none';
                    $('#tmSearch').html(response);
                }
            });
        }
    </script>
}