@model GroupShareKitSample.Models.TranslationMemoryViewModel
<div class="row">
    <div class="col-md-12">
        <h4 class="textAlign">Search translation unit as plain text</h4>
    </div>
  
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <form id="searchTmForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="tmSelect" class="col-md-2 col-sm-2 control-label textAlign">TranslationMemory:</label>
                    <select class="form-control" name="tmselect" id="tmSelect" onchange="tmSelected()" required>
                        @foreach (var tm in Model.TranslationMemories)
                        {
                            <option value="@tm.Id">@tm.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Source language:</label>
                    <select class="form-control" name="tmselect" id="sourceSelect"required>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Target language :</label>
                    <select class="form-control" name="tmselect" id="targetSelect" required>

                    </select>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Source term:</label>
                    <input type="text" placeholder="Searched term" class="form-control col-md-10 col-sm-10" id="sourceSearchedUnit"/>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label textAlign">Target term:</label>
                    <input type="text" placeholder="Searched term" class="form-control col-md-10 col-sm-10" id="targetSearchedUnit"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="searchTerm()"> <i class="fa fa-search"></i> Search term</button>

                </div>
            </div>
        </form>
    </div>

</div>
<div class="row">
    <div id="tmSearch"></div>
    <div id="loading" class="hideAdd"> <img src="~/Content/Images/ripple.svg"/></div>
</div>
@section scripts{
    <script type="text/javascript">
        document.getElementById('searchTmForm').onsubmit = function(e) {
            e.preventDefault();
        }

        function searchTerm() {
            $('#tmSearch').empty();
            document.getElementById('loading').style.display = 'initial';
            var sourceCode =document.getElementById('sourceSelect').value;
            var targetCode = document.getElementById('targetSelect').value;
            var tmId = document.getElementById('tmSelect').value;
            var sourceSearchedUnit = $('#sourceSearchedUnit').val();
            var targetSearchedUnit = $('#targetSearchedUnit').val();
            $.ajax({
                url: '@Url.Action("SearchTerm")',
                cache: false,
                data: { 'sourceSearchedUnit': sourceSearchedUnit, 'targetSearchedUnit': targetSearchedUnit, 'tmId': tmId, 'sourceCode': sourceCode, 'targetCode': targetCode },
                success: function(response) {
                    document.getElementById('loading').style.display = 'none';
                    $('#tmSearch').html(response);
                }
            });
        }
        $("#tmSelect").val("tmSelect").change();
       function tmSelected() {
            var tmId = document.getElementById('tmSelect').value;
            var translationMemoriesList = @Html.Raw(Json.Encode(Model.TranslationMemories));
            var sourceLanguages = [];
            var targetLanguages = [];
            var selectedTm = $.grep(translationMemoriesList, function(element, index) {
                return element.Id === tmId;
            });
            if (selectedTm.length>0) {
                selectedTm[0].LanguageDirections.forEach(function(item) {
                    sourceLanguages.push({
                        key: item.SourceCode,
                        label: item.SourceDisplayName

                    });
                });
                selectedTm[0].LanguageDirections.forEach(function(item) {
                    targetLanguages.push({
                        key: item.TargetCode,
                        label: item.TargetDisplayName

                    });
                });
                $('#sourceSelect').empty();
                $('#targetSelect').empty();
                //Create source language select
                var sourceSelect = document.getElementById('sourceSelect');
                for(var i = 0; i < sourceLanguages.length; i++) {
                    var opt = document.createElement("option");
                    opt.value = sourceLanguages[i].key;
                    opt.innerHTML = sourceLanguages[i].label;
                    sourceSelect.appendChild(opt);
                }
                //create target language select
                var targetSelect = document.getElementById('targetSelect');
                for(var t = 0; t < targetLanguages.length; t++) {
                    var option = document.createElement("option");
                    option.value = targetLanguages[t].key;
                    option.innerHTML = targetLanguages[t].label;
                    targetSelect.appendChild(option);
                }
            }
        
           
        }
    </script>
}